/* style file will style the both the iframe created in main.js
 * as well as the toolbar.html itself, which sits in the iframe.
 */

* {
  /* border: thin solid red; */
}

body {
  /*overflow: hidden;*/
  margin: 0px;
  padding: 0px;
}

#iframe {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 938089;
  border-top: thin solid #979797;
  background-color: #F2F2F2;
}

.kill {
  position: fixed;
  bottom: 90px;
  right: 5px;
  height: 15px;
  width: 15px;
  /*background-size: contain;*/
  z-index: 938090;
  /*border: thin solid #CCC;
  background-color: #F4F4F4;
  border-radius: 5px;*/
}

.kill:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}


/*.cross {
  width: 20px;
  vertical-align: top;
  float: right;
}*/

/*#treeCount, #pagesLeft {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  vertical-align: top;
  padding-top: 10px;
}*/

.BottomBarTreeIcon {
  height: 70px;
  width: 56px;
  margin: 0px 0px 10px 15px;
}

.placeholderStats {
  height: 98px;
  width: 298px;
  display: inline-block;
}

.banner_728x90 {
  height: 90px;
  width: 728px;
  /* left: 352px; */
  /* position: relative; */
  display: inline-block;
}

.arbol_test {
  z-index: 938090;
  position: fixed;
  bottom: 17.5px;
  left: 112px;
  height: 75px;
  width: 250px;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #333;
  border: thick solid red;
}

.treeStats {
  font-size: 50px;
}
