/* style file will style the iframe created in myScript.js */

body {
  /*overflow: hidden;*/
}

#iframe {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 938089;
  border: thin solid #CCC;
  background-color: #F4F4F4;
  /*pointer-events: none; allows clicking of elements underneath*/
}

.bottomBar {
  vertical-align: top;
  margin: 0px 40px;
  /*pointer-events: all;*/
}

.cross {
  width: 20px;
  vertical-align: top;
  float: right;
}

#treeCount, #pagesLeft {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  vertical-align: top;
  padding-top: 10px;
}

/* note, scaled down banner to fit into 70px bar */
.banner_728x90 {
  height: 60px;
  width: 468px;
  position: relative;
  /* display: inline-block; */
}

.mouseOver {
  width: 25px;
}
